---
- name: Log in and gather iteration nodes for all projects
  uri: 
    url: "https://dev.azure.com/{{ organization }}/{{ item.value }}/_apis/wit/classificationnodes/iterations?$depth=10&api-version=7.1"
    method: GET 
    headers: 
      Authorization: "Basic {{ (':' + pat) | b64encode }}" 
      Content-Type: "application/json" 
    body_format: json 
    return_content: yes 
  loop: "{{ ado_project_ids | dict2items }}"
  register: all_iterations
  tags: list_classifications

- name: Set fact with cleaner child data
  set_fact:
    all_iterations_facts: >-
      {{ all_iterations_facts | default([]) + [{
          'project': item.item.key,

          'top_level': {
            'name': item.json.name,
            'id': item.json.id,
            'path': item.json.path,
            'identifier': item.json.identifier,
            'attributes': item.json.attributes | default({})
          },

          'children': (
            item.json.children | default([])
            | json_query('[].{id:id,identifier:identifier,name:name,path:path,url:url,attributes:attributes}')
          ),

          'lower_level_children': (
            item.json.children | default([])
            | json_query('[].children[].{id:id,identifier:identifier,name:name,path:path,url:url,attributes:attributes}')
          )
      }] }}
  loop: "{{ all_iterations.results }}"
  when:
    - item.json is defined
    - item.json.children is defined
  loop_control:
    label: "{{ item.item.key }}"
  tags: list_classifications

  #Update existing parent sprint 
- name: Create missing parent sprints
  uri: 
    url: "https://dev.azure.com/{{ organization }}/{{ item.0.value }}/_apis/wit/classificationnodes/iterations?$depth=10&api-version=7.1"
    method: POST 
    headers: 
      Authorization: "Basic {{ (':' + pat) | b64encode }}" 
      Content-Type: "application/json" 
    body:
      name: "{{ item.1.iteration_name }}" 
      attributes: 
        startDate: "{{ item.1.iteration_start_date }}T00:00:00Z"
        finishDate: "{{ item.1.iteration_end_date }}T23:59:59Z"
    body_format: json
    status_code:
      - 200
      - 204 
    return_content: yes 
  register: new_parent_result
  changed_when: new_parent_result.status != 409
  failed_when: 
    - new_parent_result.status != 409
    - new_parent_result.status not in [200, 201, 204]
  with_nested: 
    - "{{ ado_project_ids | dict2items }}"
    - "{{ ado_iterations_list  }}"
  when: 
    - item.1.iteration_name not in ado_parent_list
  tags: patch/post_sprints

- debug:
    msg: "{{ ado_iterations_list  }}"

