---
- name: Log in and gather iteration nodes for all projects
  uri: 
    url: "https://dev.azure.com/{{ organization }}/{{ item.value }}/_apis/wit/classificationnodes/iterations?$depth=10&api-version=7.1"
    method: GET 
    headers: 
      Authorization: "Basic {{ (':' + pat) | b64encode }}" 
      Content-Type: "application/json" 
    body_format: json 
    return_content: yes 
  loop: "{{ ado_project_ids | dict2items }}"
  register: all_iterations
  tags: list_classifications

# - name: Print object as YAML
#   debug:
#     msg: "{{ all_iterations | to_nice_json }}"

# - name: Print the set_facts for iterations
#   debug:
#     msg: '{{ item.json }}'
#   loop: "{{ all_iterations.results}}"
#   tags: list_classifications

- name: Set fact with cleaner child data
  set_fact:
    all_iterations_facts: >-
      {{ all_iterations_facts | default([]) + [{
          'project': item.item.key,
          'parent': item.json.name,
          'parent_id': item.json.id,
          'parent_path': item.json.path,
          'children': item.json.children | map(attribute='name') | list,
          'child_details': item.json.children | map('dict2items') 
      }] }}
  loop: "{{ all_iterations.results }}"
  loop_control:
    label: "{{ item.item.key }}"
  tags: list_classifications

- name: Print the set_facts for iterations
  debug:
    msg: > 
      " Project: {{item.project }}"
      " Parent Iteration: {{ item.parent }}"
      " Parent ID: {{ item.parent_id }}"
      "Parent Path: {{ item.parent_path }}"
      " Children: {{ item.children | list}}"
  loop: "{{ all_iterations_facts }}"
  tags: list_classifications

- name: Print the set_facts for iterations
  debug:
    msg: "Child Details:{{ item.child_details }}"
  loop: "{{ all_iterations_facts }}"
  tags: list_classifications



