---
- name: Log in and gather iteration nodes for all projects
  uri: 
    url: "https://dev.azure.com/{{ organization }}/{{ item.value }}/_apis/wit/classificationnodes/iterations?$depth=10&api-version=7.1"
    method: GET 
    headers: 
      Authorization: "Basic {{ (':' + pat) | b64encode }}" 
      Content-Type: "application/json" 
    body_format: json 
    return_content: yes 
  loop: "{{ ado_project_ids | dict2items }}"
  register: all_iterations
  tags: list_classifications

# - name: Save the registered variable to a local YAML file
#   ansible.builtin.copy:
#       content: "{{ all_iterations.results | to_nice_yaml(indent=4) }}"
#       dest: "./iterations_output.yml"
#   tags: list_classifications

# - name: Save only iteration JSON per project
#   ansible.builtin.copy:
#     content: >-
#       {{
#         all_iterations.results
#         | selectattr('json', 'defined')
#         | map(attribute='json')
#         | to_nice_yaml(indent=4)
#       }}
#     dest: "./iterations_output.yml"
#   tags: list_classifications

- name: Set fact with cleaner child data
  set_fact:
    all_iterations_facts: >-
      {{ all_iterations_facts | default([]) + [{
          'project': item.item.key,

          'top_level': {
            'name': item.json.name,
            'id': item.json.id,
            'path': item.json.path,
            'identifier': item.json.identifier,
            'attributes': item.json.attributes | default({})
          },

          'children': (
            item.json.children | default([])
            | json_query('[].{id:id,identifier:identifier,name:name,path:path,url:url,attributes:attributes}')
          ),

          'lower_level_children': (
            item.json.children | default([])
            | json_query('[].children[].{id:id,identifier:identifier,name:name,path:path,url:url,attributes:attributes}')
          )
      }] }}
  loop: "{{ all_iterations.results }}"
  when:
    - item.json is defined
    - item.json.children is defined
  loop_control:
    label: "{{ item.item.key }}"
  tags: list_classifications

# - name: Print the set_facts for iterations
#   debug:
#     msg: "{{ item }}"
#     # msg: "{{ item.child_details }}"
#   loop: "{{ all_iterations_facts }}"
#   tags: list_classifications


# - name: Save the registered variable to a local YAML file
#   ansible.builtin.copy:
#       content: "{{ all_iterations_facts | to_nice_yaml(indent=4) }}"
#       dest: "./child_output.yml"
#   tags: list_classifications